## SQLite database

In this notebook we will review some of the basics of interacting with a SQLite database with Python.

In [ ]:
import sqlite3 
import csv

#### Establish a connection

In [ ]:
con = sqlite3.connect('School.db')
cursor = con.cursor()

#### Create a table

In [ ]:
create_table = """CREATE TABLE students(
                        id INTEGER PRIMARY KEY,
                        fname TEXT,
                        lname TEXT);
                """

cursor.execute(create_table)

#### Insert data

In [ ]:
cursor.execute("INSERT INTO students VALUES (399112, 'Peter', 'Rabbit')")

#### Query the table

In [ ]:
results = cursor.execute("SELECT * FROM students")

for res in results:
    print(res)

In [ ]:
results = cursor.execute("SELECT * FROM students").fetchall()
results

#### Close the connection

In [ ]:
con.commit() # save changes
con.close()

#### Insert data from csv

In [ ]:
con = sqlite3.connect("School.db")
cursor = con.cursor()

In [ ]:
with open("students.csv") as f:
    data = csv.reader(f)
    for row in data:
        if row[0]=='fname':
            continue
        cursor.execute("INSERT INTO students VALUES (?, ?, ?)", (row[2], row[0], row[1]))

In [ ]:
cursor.execute("SELECT * FROM students").fetchall()

In [ ]:
con.commit()
con.close()

#### Update a record

In [ ]:
con = sqlite3.connect("School.db")
cursor = con.cursor()

cursor.execute("UPDATE students SET id = ? WHERE fname = ? AND lname = ?", ("999999", "Emily", "Reed"))
results = cursor.execute("SELECT * FROM students WHERE fname = ? AND lname = ?", ("Emily", "Reed")).fetchall()
print(results)

con.commit()
con.close()

#### Drop a table

In [ ]:
con = sqlite3.connect("School.db")
cursor = con.cursor()

drop_table = """DROP TABLE students"""

cursor.execute(drop_table)
con.commit()

In [ ]:
cursor.execute("SELECT * FROM students")

In [ ]:
con.close()

#### Delete database

In [ ]:
from pathlib import Path

db_file = Path("School.db") # create a Path object
db_file.unlink(missing_ok=True) # delete the file; sqlite db is only one file